@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    ViewBag.Title ="Inicio";
}
<h1 id="saludoAlUsuario">Bienvenido @Session["NombreUsuario"]</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Nombre de canción</th>
            <th>Nombre de artista </th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var cancion in Model)
        {
        <tr>
            <td>
                <img src="~/Images/@cancion.imagen"
                     width="80"
                     height="80" />
            </td>
            <td>@cancion.nombre</td>
            <td>@cancion.artista</td>
            <td>@cancion.genero</td>
            <td>
                <form action="/Usuario/ReproducirCancion" method="post">
                    <input name="idCancion" value="@cancion.idCancion" style="display:none" />
                    <button name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">REPRODUCIR</button>
                </form>
            </td>
            <td>
                <form action="/Biblioteca/SeleccionarPlaylist" method="post">
                    <input name="idCancion" value="@cancion.idCancion" style="display:none" />

                    <button name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">AGREGAR A PLAYLIST</button>
                </form>
            </td>
        </tr>
        }

    </tbody>
</table>


