
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml"; ViewBag.Title = "Detalle";
}

<h2>PlayLists</h2>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Nombre de canción</th>
            <th>Nombre de artista </th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var ListReproduc_Songs in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@ListReproduc_Songs.cancion.imagen"
                         width="80"
                         height="80" />
                </td>
                <td>@ListReproduc_Songs.cancion.nombre</td>
                <td>@ListReproduc_Songs.cancion.artista</td>
                <td>@ListReproduc_Songs.cancion.genero</td>
                <td>
                    <form action="/Usuario/ReproducirCancion" method="post">
                        <input name="idCancion" value="@ListReproduc_Songs.cancion.idCancion" style="display:none" />
                        <button name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">Reproducir</button>
                    </form>
                </td>
                <td>
                    <form action="/Biblioteca/EliminarCancionPlaylist" method="post">
                        <input name="idListaReproduccion_Cancion" value="@ListReproduc_Songs.idListaReproduccion_Cancion" style="display:none" />
                        <button name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">Eliminar</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>